@{
	ViewData["Title"] = "Sign up";
}

<div>
    <h1 class="display-4">Sign up result</h1>
        @ViewData["FirstName"]<br />
        @ViewData["LastName"]<br />
        @ViewData["BirthDay"]
        @ViewData["BirthMonth"]
        @ViewData["BirthYear"]<br />
        @ViewData["Email"]<br />
        @ViewData["Password"]<br />
</div>